/*
selector {
    property: value;
*//
#content_htmlcss {
    font-family: euphemia ucas;
	text-transform: uppercase;
	font-size: 15px;
	color: rgba(37, 16, 230, 0.836);
}
#content_js {
    font-family: euphemia ucas;
	text-transform: uppercase;
	font-size: 15px;
    color: rgba(235, 11, 11, 0.993);
}
body {
    background-color: #77ecf5;
}
p {
    font-family: euphemia ucas;
    font-size: 14px;
    color: #000000;
}
h1 {
    font-family: euphemia ucas;
    font-size: 25px;
    color: #ca0cf0;
}
